.hlColor {
    background: #ffffc2;
}

.formApplication {
    width: 95%;
    margin: 0 auto;
}

.dateInput {
    width: 10ch;
}
.ch7 {
    width: 7ch;
}

.ch15 {
    width: 15ch;
    font-size: 16px;
}

.factoryList {
    --cui-popover-header-font-size: 1.6rem
}